# PyCharm Projects
.idea/

# Vitural Env
venv*/
.venv*/

# Python stuff - byte-compiled & optimized files
__pycache__/
*.py[cod]
*$py.class

# vscode
.vscode

# pyenv
.python-version

# Chat-bot artifacts/history
flagged
